<launch>
  <node name="motor_controller" pkg="docking" type="motor_controller" output="screen"/>
  <node name="serial_node" pkg="rosserial_arduino" type="serial_node.py" output="screen"/>
  <node name="Init" pkg="docking" type="Init" output="screen"/>
  <include file="$(find dynamixel_workbench_controllers)/launch/dynamixel_controllers.launch" />
</launch>
